.body {
height: 80vh;
width: 100vw;
background-color: #ececec8c;


}

.mainTitle {
margin-top: 0;
padding: 10px 0px;
text-align: center;

}

.section{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
.img {
    
    margin-right: 100px;
    margin-top: 50px;
    object-fit: contain;
}

.intro {

width: 30vw;
height: 50vh;
display: inline-block;
margin-left: 100px;
margin-top: 50px;

}